body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.modal-content{
  font-size: 16px;
}

.vendor{
  text-align: left;
}

span delete{
  text-decoration: line-through;
}

.row{
  display: flex;
  text-align: left;
}

.col-md-6{
  width: 50%;
}

label{
  width: 100%;
}

.btn-group {
  width: 100%;
  display: inline-flex;
}

input.inputne {
  width: 60%;
  height: 35px;
  border-radius: 5px;
}

select {
  width: 100%;
  height: 35px;
  border-radius: 5px;
}

.btn-bottom {
  margin: 5px 0 0 0;
  width: 100%;
}

.btn-bottom .button{
  width: 100%;
  height: 36px !important;
}

.color_title{
  text-align: left;
}

.Product-wrapper .row{
  height: auto !important;
}

.Product-wrapper .rounded-lg{
  height: 538.156px;
}